<div class="main-content">
    <div class="floating-button" id="plus-btn" ng-show="status.step === 1" ng-click="changeView('create')">
        <p class="plus">+</p>
    </div>

    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    Problems
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Problems
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12" ng-if="status.step === 1">
                    <div class="col-xs-12 widget-container-col list1">
                        <table id="dynamic-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Category</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Algorithm</td>
                                <td><span class="label label-sm label-success">True</span></td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" id="view-button1">
                                            <i class="ace-icon fa fa-search bigger-130"></i>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                    data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-success" data-rel="tooltip"
                                                       title="Edit">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" data-rel="tooltip"
                                                       title="Delete">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ACM 2011</td>
                                <td><span class="label label-sm label-success">True</span></td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" id="view-button1">
                                            <i class="ace-icon fa fa-search bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                    data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-success" data-rel="tooltip"
                                                       title="Edit">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" data-rel="tooltip"
                                                       title="Delete">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 widget-container-col list2" style="display: none;">
                        <span style="cursor: pointer;" class="m-b-5 label label-lg label-primary arrowed" id="backbutton">Back</span>
                        <table id="dynamic-table-2" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Problem</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>STAMGIAC</td>
                                <td><span class="label label-sm label-success">True</span></td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" id="view-button">
                                            <i class="ace-icon fa fa-search bigger-130"></i>
                                        </a>

                                        <a class="brown" id="scoreboard-button">
                                            <i class="ace-icon fa fa-table bigger-130"></i>
                                        </a>

                                        <a class="green" id="edit-button">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red" id="delete-button">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                    data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-success" data-rel="tooltip"
                                                       title="Edit">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" data-rel="tooltip"
                                                       title="Delete">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="status.step === 2 && status.action === 'create'">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">Create problem</h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <form class="form-horizontal m-t-10">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Code</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Code">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Description</label>
                                        <div class="col-sm-9">
                                            <div class="wysiwyg-editor" id="editor1"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">File Path</label>
                                        <div class="col-sm-4">
                                            <input type="file" id="id-input-file-1"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Categories</label>
                                        <div class="col-sm-4">
                                            <select multiple="" class="chosen-select form-control"
                                                    id="form-field-select-4" data-placeholder="Choose a categories">
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Status</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="status">
                                                <option value="notset">Not set</option>
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-3">
                                            <button class="btn btn-sm btn-info" type="button">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Save
                                            </button>
                                            <button class="btn btn-sm m-l-5" id="cancel" ng-click="changeView('back')">
                                                <i class="ace-icon fa fa-close bigger-110"></i>
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="status.step === 2 && status.action === 'view'">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">Details problem</h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <form class="form-horizontal m-t-10" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Code</label>
                                        <label class="col-sm-4 control-label" style="text-align: left;">Code</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Status</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" disabled id="status">
                                                <option value="notset">Not set</option>
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Language</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" disabled id="language">
                                                <option value="c++">C++</option>
                                                <option value="java">Java</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">File Path</label>
                                        <div class="col-sm-4">
                                            <input type="file" id="id-input-file-2"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-3">
                                            <button class="btn btn-sm btn-info" type="button">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Submit
                                            </button>
                                            <button class="btn btn-sm m-l-5" id="cancel-view" ng-click="changeView('back')">
                                                <i class="ace-icon fa fa-close bigger-110"></i>
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <object data='https://laptrinh.online/Content/uploads/636132880275919282_admin_MAXMIN_2_1_MAXMIN.pdf' type='application/pdf' width='100%' height='600px'></object>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->