<div class="main-content">
    <div class="floating-button" id="plus-btn" ng-show="status.step === 1" ng-click="changeView()">
        <p class="plus">+</p>
    </div>

    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    Account
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Admin
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12" ng-if="status.step === 1">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div class="table-header">
                        List Admin
                    </div>

                    <!-- div.table-responsive -->

                    <!-- div.dataTables_borderWrap -->
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Fullname</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Student Id</th>
                                <th>Class Name</th>
                                <th>Date Of Birth</th>
                                <th>Gender</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Nguyễn Hồng Hạnh</td>
                                <td>4086</td>
                                <td>2121114086@laptrinh.online</td>
                                <td>2121114086</td>
                                <td>2121114086</td>
                                <td>CS211 Q</td>
                                <td>3/12/1997 12:00:00 AM</td>
                                <td>Female</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">

                                        <a class="green" id="edit-button">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red" id="delete-button">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                    data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-success" data-rel="tooltip"
                                                       title="Edit">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" data-rel="tooltip"
                                                       title="Delete">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="status.step === 2">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">Create student</h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <form class="form-horizontal m-t-10" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Username</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Confirm
                                            password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control"
                                                   placeholder="Confirm password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Fullname</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Fullname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Email</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Phone number</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Phone number">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Birthday</label>
                                        <div class="col-sm-4">
                                            <input placeholder="__/__/____" class="form-control input-mask-date"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Gender</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="gender">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Role</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="role">
                                                <option value="admin">Admin</option>
                                                <option value="teacher">Teacher</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-3">
                                            <button class="btn btn-sm btn-info" type="button">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Save
                                            </button>
                                            <button class="btn btn-sm m-l-5" id="cancel" ng-click="changeView('back')">
                                                <i class="ace-icon fa fa-close bigger-110"></i>
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->